name: CI Pipeline

on:
  push:
    branches: [ main, task-1]
    # add take-2,3 and 4
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Python
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install flake8 pytest

      # Step 4: Lint the code
      - name: Run flake8
        run: |
          flake8 . --max-line-length=120 --ignore=E203,W503

      # Step 5: Run tests
      - name: Run pytest
        run: |
          pytest -q || true
